.css-1y4p8pa {
    padding-top: 2rem;
}

h1 {
    text-align: center;
}

div.block-container {
    padding-top: 2rem;
}

div[data-testid="metric-container"] {
    flex: 1;
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;
}

div[data-testid="stMetricLabel"]{
    text-align: center;
}

.css-17c4ue {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0px;
    display: inline-block !important;
    visibility: visible;
}

h2 {
    text-align: center;
    font-size: 1.35rem;
}

p {
    font-size: medium;
    text-align: center;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.css-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(5) > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(5) {
    position: relative;
    bottom: 90px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.css-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(4) {
    margin-bottom: 40px;
    margin-top: 40px;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.css-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) {
    padding-top: 0;
    margin-top: 0;
}